{% extends "base.html" %}

{% block title %}auth.Login{% endblock %}
{% block main %}

<div class="card card-container">
	<form id="form-signin" class="text-left form-signin" action="{{url_for('auth.login')}}" method="POST" enctype="multipart/form-data">
		{{form.hidden_tag()}}
		<div class="inputName" class="sr-only">{{ form.username.label }}</div>
		<div placeholder="username" id="inputName" required autofocus>{{ form.username }}</div>
		<div class="inputPassword" class="sr-only">{{ form.password.label }}</div>	
		<div placeholder="password" type="password" id="inputPassword" required />
		{{ form.password }}
		</div>
		<div>
			{{ form.submit }}
		</div>	
		<div style="font-size:14px; padding: 20px 0px;">{{form.remember_me}} Remember Me</div>
	</form>
</div>

{% endblock %}