{% extends "base.html" %}

{% block title %}auth.Login{% endblock %}
{% block main %}

<div class="card card-container">
	<form id="form-signin" class="text-left" action="{{url_for('auth.login')}}" method="POST" enctype="multipart/form-data">
		{{form.hidden_tag()}}
		<div class="inputName" class="sr-only">{{ form.username.label }}</div>
		<div placeholder="username" required autofocus>{{ form.username }}</div>
		<div class="inputName" class="sr-only">{{ form.password.label }}</div>	
		<div type="password" id="inputPassword" required />
		{{ form.password }}
		</div>
		<br>
		<div>
			{{ form.submit }}
		</div>	
		<p>{{form.remember_me}} Remember Me</p>
	</form>
</div>

{% endblock %}