{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block main %}

<div class="row">
  <div class="col-md-12">
    <!-- Blog Post Content Column -->
    <div class="content-unit">

        <ul class="posts-list">  
          <h3>Latest Blog Entries</h3> 
          {% for post in posts %} 
          <div class="threadblock">
          <a href="{{ url_for('post.page', id=post.id)}}">
            <div class="posts-list-title">{{ post.title }}</div>
            <div class="posts-list-extra">{{momentjs(post.timestamp).format('L')}}</div>
          </a>
          </div>         
          {% endfor %}              
        </ul>  
    </div>
  </div>
</div>
<!-- /.row -->
{% endblock %}
{% block footer %} 
{% include 'footer.html' %}
{% endblock %}

