{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block main %}

<div id ="main-content" class="col-md-12">
  <div class="row">
    <!-- Blog Post Content Column -->
    <div class="content-unit">
      <div class="wrap-col">
          {% for post in posts %} 
          <article>
            <div class="heading">
              <h2 class="title" style="text-transform:none;">
              <a href="{{ url_for('post.page', id=post.id)}}">{{ post.title }}</a>
              </h2>
            </div>
            <div class="content">
              Setting up a Flask application on an EC2 Ubuntu instance with Apache and mod_wsgi
            </div> 
            <div class="extra">
              <div class="info">
              {{momentjs(post.timestamp).format('L')}}
              </div>              
            <div class="clear"></div>
            </div>
          
          </article>
          {% endfor %}              
      </div>
    </div>
  </div>
</div>
<!-- /.row -->
{% endblock %}
{% block footer %} 
{% include 'footer.html' %}
{% endblock %}

