
.post-html>*:last-child {
    margin-bottom: 0 !important;
}

.highlight pre {
    background-color: #eee;
    font-size: 15px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
}

.posts-list-title{
    position: absolute;
    left: 140px;
}

.posts-list-extra{
    position: absolute;
    padding-left: 0px;
    width: 120px;
}

.post-extra {
    position: relative;
}

.posts-content {
    padding: 10px 10px 20px 20px;
}





