/* --------------------------------------
   Layout
  --------------------------------------- */
.posts-list {
    margin: 0 0 0 5px;
    list-style: none;
    padding-left:0;
}

#post, #comments {
	background: #fafafa;
	color: #444;
	margin: 0;
	padding: 20px 25px 75px;
	font-size: 16px;
	line-height: 24px;
}

.posts-list .post {
    position: relative;
    display: block;
    max-width: initial;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #ccc;
}


.post-title {
    position: absolute;
    left: 120px;
    right: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;	
}

.posts-list .post-extra {
    position: absolute;
    left: 0;
    width: 120px;
}





