/* -------------------------------------------- */
/* ------------------Reset--------------------- */
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}


/* -------------------------------------------- */
/* ------------------Clear--------------------- */
.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }


/* -------------------------------------------- */
/* ------------------Style--------------------- */
html, body {width:100%; padding:0; margin:0;}
body { background-color: #ccc; color: #474747; font-family: 'Montserrat', sans-serif; font-size: 16px; line-height: 25px;}

h1,h2,h3,h4,h5,h6{ font-family: 'Montserrat', sans-serif; text-transform:uppercase; font-weight:700; line-height:1.4em; color: #474747; }
h1{ font-size:30px; }
h2{ font-size:25px; }
h3{ font-size:20px; }
h4{ font-size:18px; }
h5{ font-size:16px; }
h6{ font-size:14px; }

h1 a, h2 a, h3 a, h4 a{color: #474747; text-decoration: none;}

/* -------------------------------------------- */
/* ------------------Header-------------------- */
header {background:#333333; margin-bottom:80px;}
header .wrap-header{height: 80px;}

header .navbar-brand { padding:0px 0px;}

/* -------------------------------------------- */
/* ------------------Navigation---------------- */
nav {}

.menu ul {list-style: none;margin: 0;padding: 0;}
.menu  ul li a {font-size: 14px; z-index: 6;position: relative;font-weight:bold; text-transform:uppercase; padding: 15px 25px;}

.menu .navbar-nav>.active>a, 
.menu .navbar-nav>.active>a:focus, 
.menu .navbar-nav>.active>a:hover { color: #fff; background-color: #155799; }

/* -------------------------------------------- */
/* ------------------Content------------------- */
#content .wrap-col{width: 100%;}

#main-content{}
#main-content article {margin:10px 0px; background:#ffffff;}
#main-content article .heading{ padding: 20px 20px;}
#main-content article .heading .title{text-transform: uppercase; font-weight: bold;}
#main-content article .heading .title2{font-size: 16px; line-height: 20px;}
#main-content article img{display: inline-block; width: 100%;}
#main-content article .content{padding: 30px 40px;font-size: 16px;}
#main-content article p{margin-bottom:10px;}
#main-content article .extra{background: #2ECC71; padding: 10px 20px;font-size: 16px;}
#main-content article .more {float: right;}
#main-content article .info{float: left; color: #ffffff;}
#main-content article .info a{text-decoration: underline; color:#ffffff;}

#main-content .post { position: relative; padding:10px 10px; border-radius: 6px; box-shadow: 0 0px 2px rgba(0,0,0,0.05); background-color:  #fff;}
#main-content .post p {margin: 15px 0; word-spacing: 1px;}
#main-content .post .post-title {
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 40px;
    text-rendering: optimizelegibility; 
    font-size: 2em;

}
#main-content .content-unit{ padding: 10px; margin-bottom: 30px; color: inherit; border-radius: 6px; box-shado: 0 0px 2px rgba(0,0,0,0.05); background-color: #fff;}

/* -------------------------------------------- */
/* ------------------Footer-------------------- */
footer .row {margin-top: 35px;}
footer .col-sm-4 .panel {padding: 15px; height: 330px;}
footer .col-sm-4 .panel .panel {padding: 0px;}
/*footer .col-sm-4 .panel{height:400px;}*/
footer .panel-body{padding: 0px;}
footer .heading {margin: -15px -15px 15px;}
footer {background-color:#333333; margin-top:30px;}

.clickable {
   cursor: pointer;
}

.row > .col-md-4{
  padding-left: 0px;
  padding-right: 0px;
}

/* --------------------------------------
   Button
  --------------------------------------- */

.write-btn-box {
    text-align: right;
}

.write-btn-box button {
    margin: 20px 5px;
}

.btn-white, .btn-blue {
    padding: 0 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    line-height: 30px;
    margin: 0;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 0 1px 0 rgba(255,255,255,0.15) inset,0 1px 1px rgba(0,0,0,0.15);
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    color: #fff;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
}

.btn-white {
    border: 1px solid #cccdce;
    background-color: #fbfcfd;
    color: #9d9e9f;
    text-shadow: none;
    box-shadow: 0 1px 1px rgba(0,0,0,0.08);
}

.btn-blue {
    background-color: #3792dc;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#409ae2), to(#2887d3));
    background-image: -webkit-linear-gradient(top, #409ae2, #2887d3);
    background-image: -moz-linear-gradient(top, #409ae2, #2887d3);
    background-image: linear-gradient(top, #409ae2, #2887d3);
    background-repeat: repeat-x;
    border: 1px solid #2184d3;
    color: #fff;
}

/* --------------------------------------
   Typography
  -------------------------------------- */

.content-unit p{
  font-size: 0.8em;
}

#about {
  margin-top: 60px;
}

img.thumbnail {
   margin: 0 20px 10px 0;
}

#contact{
  font-size: 0.8em;
}

.CodeMirror-scroll {
	background-color:#FFFFFF;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;    
}

.about{
  position: relative;
  padding:10px 10px 10px 10px;  
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 0 0px 2px rgba(0,0,0,0.05);    
  background-color:  #fff;
  font-size: 16px;  
  padding: 10px 10px 20px 20px;
}

/* --------------------------------------
   Navbar
 ---------------------------------------- */

.navbar-inverse .navbar-nav > li > a {
    color: #FDEBEB;
}

/* --------------------------------------
   Sign-in
-----------------------------------------*/
.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
    -webkit-border-radius: 6px;

}

.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.form-signin #inputName,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=username],
.form-signin input[type=password],
.form-signin input[type=inputResume],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    border-radius: 4px; 
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgb(250, 255, 189);
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

#submit {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    background-color: rgb(0, 109, 204);
    background-image: linear-gradient(rgb(0, 136, 204), rgb(0, 68, 204));
    background-repeat: repeat-x;
    border-bottom-color: rgba(0, 0, 0, 0.247059);
    border-radius: 4px; 
    border-image-repeat: stretch; 
    font-size: 14px;
    -webkit-writing-mode: horizontal-tb;
}

#submit:hover,
#submit:active,
#submit:focus {
    background-color: rgb(0, 68, 204);
}


/* -------------------------------------------- */
/* ---------------Media Queries---------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

}

/* Large desktop */
@media (min-width: 1200px) {

	.navbar-nav > li > a {
	    padding-top: 15px;
	    padding-bottom: 15px;
	}

	.container {
	    width: 990px;
	}	

  .row >.col-md-4 {
    width: 30%;
  }

}
