<!DOCTYPE html>
<html>
  <head>

    <!-- https://github.com/esbullington/flask-bootstrap/tree/master/app/static 
    http://geek4it.com/
    https://realpython.com/
    http://top.jobbole.com/
    -->

    <!-- Website Title & Description for Search Engine purposes -->
    <title>Hello World</title>
    <meta name="description" content="">

    <!-- Mobile viewport optimized -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

    <!-- Include Modernizr in the head, before any other Javascript -->
    <script src="/static/includes/js/modernizr-2.6.2.min.js"></script>  
  </head>
  <body>
    <div class="container" id="main">

      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">      
          <a href="/" class="navbar-brand"><img src="{{url_for('static', filename='images/logo.png')}}" alt="Your Logo"></a>
          
          <div class="pull-right collapse navbar-collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="#">Home</a>
                </li>
              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <strong class="caret"></strong></a>
                
                <ul class="dropdown-menu">             
                  <li>
                    <a href="{{url_for('index.about')}}">About</a>
                  </li>
                  
                  <li class="divider"></li>
                  
                  <li class="dropdown-header">More Services</li>
                  
                  <li>
                    <a href="{{url_for('index.projects')}}">Projects</a>
                  </li>
                  
                  <li>
                    <a href="{{url_for('index.contacts')}}">Contact</a>
                  </li>
                </ul><!-- end dropdown-menu -->
              </li>
            </ul> 

            <form class="navbar-form pull-left">
              <input type="text" class="form-control" id="searchInput" placeholder="Search this site....">
              <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>            
            </form><!--end navbar-form-->

            <ul class="nav navbar-nav pull-right">
              <li class="dropdown">

              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> My Account <strong class="caret"></strong></a>

                <ul class="dropdown-menu">
                  <li><a href="#">Settings</a></li>            
                </ul>
              </li>
            </ul><!--end nav pull-right-->

          </div><!--end nav-collapse-->			

        </div><!--end container-->
      </div><!--end navbar-->

      {% block main %} {% endblock %}<!--end blockmain-->

    </div><!--end container-->


    <!-- First try for the online version of jQuery-->
    <script src="http://code.jquery.com/jquery.js"></script>

    <!-- If no online access, fallback to our hardcoded version of jQuery -->
    <script>window.jQuery || document.write('<script src="static/includes/js/jquery-1.8.2.min.js"><\/script>')</script>

      <!-- Bootstrap JS -->
      <script src="/static/bootstrap/js/bootstrap.min.js"></script>

      <!-- Custom JS -->
      <script src="/static/js/jquery.flexslider-min.js"></script>   

      <script src="/static/themes/snapshot/snapshot.min.js"></script>  	

      <!-- Custom JS -->
      <script src="/static/js/script.js"></script>    

    </body>
  </html>


